*{
    text-decoration: none;
    color: rgb(100, 101, 192);
    text-size-adjust: auto;
}

.navLink{
  font-weight: bold;
}

.space{
  height: 2em;
}
ul {
    padding: 0;
}

li button {
  display: block;
  width: 100%;
  background-color: rgb(234, 187, 219);
  color: rgb(100, 101, 192);
  text-decoration: none;
  border: 0;
  margin-left: 0px;
  box-shadow: none;
  border-radius: 0px;
}

.image{
  /*width: 40%;*/
  float: left;
  padding: 2em;
}

.single{
  background-color: rgb(234, 187, 219);
  display: block;
  width: 100%;
  float: left;
}

.title{
  display: block;
  width: 100%;
  font-weight: lighter;
}

.headline {
  margin-bottom: 1em;
}

art {
  font-size: 14px;
  padding: 2em;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  color: rgb(100, 101, 192);
  background-color: rgb(234, 187, 219);
  display: block;
  width: 100%;
}

.navigation > h1 {
  background-color: rgb(234, 187, 219);
  display: block;
  text-align: center;
  width: 100%;
}

.myDIV{
  display: none;
  background-color: rgb(234, 187, 219);
  width: 100%;
  font-weight: lighter;
  margin: 0em;
  font-size: 15px;
}

.tags{
  font-weight: bold;
  padding: 1em;
}

.articles {
  float: right;
  width: 70%;
  display: block;
  text-align: left;
  background-color: rgb(254, 196, 183);
  height: 100%;
  overflow-y: auto;
  padding-left:2em;
  padding-right: 2em;
  padding-bottom: 2em;
}

.searchForm{
  width: 100%;
  float: center;
}

.bar{
  width: 72%;
}

.searchButton{
  width: 25%;
}

.navigation {
  display: block;
  float: left;
  width: 20%;
  background-color: rgb(254, 196, 183);
  text-align: left;
  overflow: hidden;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 1em;
}

.body{
  display:block;
  padding-left: 2em;
  padding-right: 2em;
}

body {
  color: rgb(100, 101, 192);
  font-family: Tahoma, Geneva, sans-serif;
  background-image: url("background/clouds.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main {
  box-sizing: border-box;
  padding: 0.5em;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

main > h1 {
  font-size: 20px;
}

.added {
  font-weight: bold;
}
.source{
  font-weight: bold;
  padding: 1em;
}


@media screen and (max-width: 980px){
  .navigation{
    float: center;
    width: 90%;
    padding: 1em;
    margin: 2em;
    box-sizing: border-box;
    position: absolute;
    overflow-y: auto;
    top: 0;
  }
  .articles{
    float: center;
    width: 90%;
    padding: 1em;
    margin: 2em;
    box-sizing: border-box;
    position: absolute;
    top: 40%;
  }
  .myDIV{
    margin: 1em;
  }
}
