<html>
<head>
  <title>Filters</title>
  <link rel="stylesheet" type="text/css" href="/static/basic.css">
  </head>
  <body>
    <div class="navigation">
      <h1 class="logo">News Chiller Options</h1>
      <strong><nav>
        <ul class="menu">
          <li><a href="/sources">Sources</a></li>
          <li><a href="/">Main</a></li>
        </ul>
      </nav></strong>
    </div>
    <div class="slidecontainer">
      <form method="POST" action="filter">
      <h1> Filter 1 </h1>
  <input type="range" min="1" max="100" value="50" class="slider" id="filter">
<input type="submit" value="submit" />
      </form>
</div>
<!--<div class="slidecontainer">
  <h1> Filter 2 </h1>
  <input type="range" min="1" max="100" value="50" class="slider" id="filter2">
</div>
<div class="slidecontainer">
  <h1> Filter 3 </h1>
  <input type="range" min="1" max="100" value="50" class="slider" id="filter3">
</div>
<form method="POST" action="test">
            <input type="range" min="0" max="100" name="name_of_slider" />
            <input type="submit" value="submit" />
        </form>
-->
    </body>
</html>
