<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <title>𝕔𝕙𝕚𝕝𝕝 𝕟𝕖𝕨𝕤</title>
  <link rel="stylesheet" type="text/css" href="/static/basic.css">
  </head>
  <body>
    <main>
      <div class="container-class">
      <div class="navigation">
        <h1 class="logo">𝕔𝕙𝕚𝕝𝕝 𝕟𝕖𝕨𝕤</h1>
        <nav>
          <ul class="menu">
            <li><button onclick="myFunction('about'); disableLink()">𝕒𝕓𝕠𝕦𝕥</button></li>
            <div id="about" class="myDIV">
            A final project for my Computer Science Engineering Degree.
            A news aggregator designed to improve (and to enable) news reading for people with news avoidance problems, stemming from anxiety, depression and various other issues.
            It aggregates some of the most popular news feeds and filters them out by their level of distress.
            The aggregator implements basic features like adding feed sources, disabling and enabling article filtering and a simple search bar.
            Any opinions or suggestions regarding the app can be expressed in the questionnaire, filling out which is highly encouraged.
            Full details are available here:
            <a href='' id="navLink">NewsChiller on Github</a>
            </div>
            <li><button onclick="myFunction('sources')">𝕤𝕠𝕦𝕣𝕔𝕖𝕤</button></li>
            <div id="sources" class="myDIV">
                {% for s in sources %}
                <div>
                  <a href = "{{s.link}}">{{s.title}}</a>
                  </div>
                {% endfor %}
                <form method="POST">
                  <input name="feed" class="bar" placeholder="Paste the feed url"/>
                  <input type="submit" class="searchButton" name="form" value="Add feed"></input>
                  </form>
            </div>
            <li><button onclick="myFunction('filters')">𝕗𝕚𝕝𝕥𝕖𝕣𝕤</button></li>
            <div id="filters" class="myDIV">
              <div class="slidecontainer">
                <form method="POST">
                <h1> Filter</h1>
                <!--0
            <input type="range" min="-1" max="1" value="0" step="1" class="slider" name="filter">
          Max-->
          ON<input type="range" min="0" max="1" value="1" step="1" class="slider" name="filter">OFF
          <input type="submit" name="form" style = "float:center;"value="Set filter"/>
                </form>
          </div></div>
            <li><button onclick="myFunction('questionnaire')">𝕢𝕦𝕖𝕤𝕥𝕚𝕠𝕟𝕟𝕒𝕚𝕣𝕖</button></li>
            <div id="questionnaire" class="myDIV">
            <form method="post">
            <p>As the sole developer behind this project (and an undergraduate,
            hoping to quickly change that status) I would kindly ask you to answer
            the following questions about the project:</p>
            <p>Has the aggregator managed to filter out negative headlines?</p>
            <input checked="checked" name="answer1" type="radio" value="{{true}}" /> True
            <input name="answer1" type="radio" value="{{false}}" /> False
            <p>Has the interface been both understandable and nondistracting enough?</p>
            <input checked="checked" name="answer2" type="radio" value="{{true}}" /> True
            <input name="answer2" type="radio" value="{{false}}" /> False
            <p>Has the aggregator had a positive impact on your reading experience?</p>
            <input checked="checked" name="answer3" type="radio" value="{{true}}" /> True
            <input name="answer3" type="radio" value="{{false}}" /> False
            <p>If you have any specific comments/suggestions, please write them below.</p>
            <input name="comment" type="text" class="bar"/>
            <!--<input type="submit" name="form" class="searchButton" value="Submit" onclick="myFunctionEmpty()"></input>-->
            <input type="submit" name="form" class="searchButton" value="Submit"/>
            </form>
          </div>
          <form class="searchForm" method="post">
                <input type="text" class="bar" placeholder="Search in text or tags" name="search">
                <input type="submit" class="searchButton" name="form" value="Search"><!--&#128269;--></input>
            </form>
          </ul>
          <script>
          function myFunction(y='myDIV') {
            var x = document.getElementById(y);
            if (x.style.display === 'none') {
              x.style.display = 'block';
            } else {
              x.style.display = 'none';
            }
          }

          function disableLink(y='navLink') {
            var x = document.getElementById(y);
            if (document.getElementById('about').style.display === 'block') {
              x.href = 'https://github.com/Karola766/NewsChiller';
            } else {
              x.href = '';
            }
          }

          function myFunctionEmpty(y='questionnaire') {
            var x = document.getElementById(y);
            x.innerHTML = "Thanks a lot!"
          }
        </script>
        </nav>
      </div>
      <div class="articles">
      <!--<h1>Chill News</h1>-->
      {% for art in articles %}
      <div class="headline">
      <a>
        <div class="title">
        <h1>
          <a href="/read/{{art.id}}">{{ art.title }}</a>
        </h1>
      </div>
        <div class="single">
          <div class="img">
            {% if art.img_link is not none %}
            <a class="image"><img src={{art.img_link}} alt={{art.img_credit}}></a>
            {%else%}
            <a class="image"/>
            {% endif %}
          </div>
          <div class="right">
        <div class="source">
          <a href="{{art.source.link}}">
            From {{art.source.title}}</a>
        </div>
        <div class="added">
          {{art.date_added}}
          {{art.distress}}
        </div>
        <div class="body">
          {{ art.body | safe}}
          </div>
          <div class="tags">
            {{art.tags}}
          </div>
        </div>
      </div>
      </div>
        {% endfor %}
      No more articles here, sorry ;)
      </div>
    </div>
    </main>
    </body>
</html>
