<html>
<head>
  <title>Sources</title>
  <link rel="stylesheet" type="text/css" href="/static/basic.css">
  </head>
  <body>
    <div class="navigation">
      <h1 class="logo">News Chiller Options</h1>
      <strong><nav>
        <ul class="menu">
          <li><a href="/filters">Filters</a></li>
          <li><a href="/">Main</a></li>
        </ul>
      </nav></strong>
    </div>
    <form method="POST">
      <input name="feed">
      <button type="submit">Add feed</button>
      </form>
      {% for s in sources %}
      <div>
        <a href = "{{ s.link }}">{{s.title}}</a>
        </div>
      {% endfor %}
    </body>
</html>
